body {
  margin: 0;
 font-family:'Nunito sans',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color:rgb(28, 145, 255);
}
:root{
  --fancy-border:50% 50% 0% 100% / 100% 23% 77% 0% ;
}